::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 300;
  background-color: black;
  font-family: "Josefin Sans", sans-serif; }

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem); }

h1 {
  font-size: 10rem;
  font-weight: 700;
  font-family: "Manjari", sans-serif;
  letter-spacing: .5rem; }

h2 {
  font-size: 5rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif; }

h3 {
  font-size: 4rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif; }

p {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif; }

@keyframes blowing {
  0% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateY(0) translateX(0) scale(0.1); }
  20% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(5px); }
  50% {
    border-radius: 57% 43% 56% 44% / 41% 51% 49% 59%;
    transform: translateY(-3px) translateX(-1rem); }
  80% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(0) translateX(-1rem); }
  100% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateX(0) translateY(0) scale(1); } }

@keyframes blobbing {
  0% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateY(0) translateX(0) rotate(0); }
  20% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(5px); }
  50% {
    border-radius: 57% 43% 56% 44% / 41% 51% 49% 59%;
    transform: translateY(-3px) translateX(-1rem); }
  80% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(0) translateX(-1rem); }
  100% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateY(0) translateX(0); } }

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0; } }

@keyframes birth {
  0% {
    transform: scale(0.3) translateX(-200%) translateY(60%);
    opacity: 0; }
  2% {
    opacity: 1; }
  10% {
    transform: scale(0.3) translateX(-180%) translateY(50%); }
  15% {
    transform: scale(0.4) translateX(-170%) translateY(40%); }
  20% {
    transform: scale(0.4) translateX(-180%) translateY(50%); }
  25% {
    transform: scale(0.4) translateX(-160%) translateY(50%); }
  30% {
    transform: scale(0.4) translateX(-150%) translateY(50%); }
  35% {
    transform: scale(0.4) translateX(-160%) translateY(50%); }
  40% {
    transform: scale(0.4) translateX(-150%) translateY(50%); }
  60% {
    transform: scale(0.4) translateX(-160%) translateY(50%); }
  100% {
    transform: scale(1) translateX(0) translateY(0);
    opacity: 1; } }

@keyframes birth2 {
  0% {
    transform: scale(0.4) translateX(-200%) translateY(40%);
    opacity: 0; }
  2% {
    transform: scale(0.5) translateX(-200%) translateY(40%);
    opacity: 1; }
  10% {
    transform: scale(0.6) translateX(-130%) translateY(30%); }
  15% {
    transform: scale(0.7) translateX(-120%) translateY(20%); }
  20% {
    transform: translateX(-130%) translateY(30%); }
  25% {
    transform: translateX(-120%) translateY(30%); }
  30% {
    transform: translateX(-130%) translateY(30%); }
  35% {
    transform: translateX(-120%) translateY(30%); }
  40% {
    transform: scale(0.8) translateX(-130%) translateY(30%); }
  60% {
    transform: scale(0.8) translateX(-120%) translateY(30%); }
  100% {
    transform: scale(1) translateX(0) translateY(0);
    opacity: 1; } }

@keyframes floating {
  10% {
    transform: scale(1.3);
    right: 3%; }
  15% {
    right: 2%; }
  20% {
    right: 3%; }
  60% {
    top: 3%;
    right: 70%; }
  100% {
    transform: scale(0.8);
    top: 110%;
    right: 10%; } }

@keyframes floating2 {
  50% {
    transform: scale(0.8);
    top: 1%;
    left: 35%; }
  100% {
    top: 80%;
    left: 20%; } }

@keyframes floating3 {
  50% {
    top: 2%;
    left: 25%; }
  100% {
    top: 80%;
    left: 50%; } }

.wrapper {
  display: grid;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
  gap: 1.5rem;
  width: 100%;
  height: 150%;
  grid-row: 1 / -1;
  grid-column: 3/-1;
  background-color: #fffef8;
  border-radius: 100% 0% 81% 19% / 61% 100% 0% 39%;
  position: relative;
  transform-style: preserve-3d;
  transition: all linear;
  overflow: hidden; }

.logo {
  width: 15rem;
  height: 15rem;
  background-color: #fffef8;
  position: absolute;
  grid-column: 2/5;
  grid-row: 1/4;
  justify-self: start;
  transform: translateY(4rem);
  border: 1px solid #fffef8;
  border-radius: 50%;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  justify-items: center;
  align-items: center; }
  .logo__letter {
    font-family: "Manjari", sans-serif;
    font-weight: 700;
    font-size: 6rem;
    grid-column: 2/3; }

.about {
  position: relative;
  z-index: 2000;
  grid-row: 4/ 12;
  grid-column: 2/-1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
  gap: 1.5rem;
  justify-items: center;
  align-items: center; }
  .about__menu {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
    color: black;
    height: 8rem;
    width: 8rem;
    z-index: 2100;
    text-align: center;
    transform: translateX(-4rem);
    font-size: 2rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    position: relative; }
    .about__menu--top {
      grid-column: 1/2;
      grid-row: 1/2; }
      .about__menu--top::after {
        content: "";
        display: block;
        height: .5rem;
        width: 6rem;
        background-color: black;
        border-radius: 1rem;
        text-align: center; }
    .about__menu--bottom {
      grid-column: 1/2;
      grid-row: 2/3; }
    .about__menu--icon {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 4rem;
      width: 4rem;
      transition: all linear;
      transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9);
      animation: speaker 2s ease-in .5s 1 forwards; }
    .about__menu--lines {
      position: absolute;
      height: 3px;
      width: 2rem;
      background-color: black;
      top: 10%;
      right: -30%;
      transform: rotate(-18deg) translateX(-100%);
      border-radius: 5rem;
      transition: all linear;
      opacity: 0;
      animation: shouting .5s ease-in .5s 2 forwards; }
      .about__menu--lines::before, .about__menu--lines::after {
        content: "";
        display: block;
        background-color: inherit;
        width: inherit;
        height: inherit;
        border-radius: inherit; }
      .about__menu--lines::before {
        transform: translateY(-350%) rotate(-28deg); }
      .about__menu--lines::after {
        transform: translateY(300%) rotate(28deg); }
  .about__greet {
    grid-column: 3 / 8;
    grid-row: 4 / 9;
    z-index: 2100; }
  .about__bubble {
    position: absolute;
    grid-column: 4/9;
    grid-row: 9/ 13;
    z-index: 2100; }
    .about__bubble h2 {
      color: #fffef8;
      animation: morph 20s linear infinite; }
  .about__goo {
    z-index: 1800;
    position: relative;
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    height: 100%;
    width: 100%;
    background-color: #fffef8;
    filter: blur(20px) contrast(70);
    display: grid;
    grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
    grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
    gap: 1.5rem; }
    .about__goo--1, .about__goo--2, .about__goo--3, .about__goo--4, .about__goo--5, .about__goo--6 {
      background-color: #f00000;
      position: absolute;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      transition: all linear; }
    .about__goo--1 {
      grid-column: 3/9;
      grid-row: 7/14;
      width: 60rem;
      height: 50rem;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      transform: translateX(0) translateY(0) rotate(0) scale(0.1);
      transition: all linear;
      animation: 2s blowing .5s ease-in-out forwards, 5s blobbing 1s linear infinite; }
    .about__goo--2 {
      grid-column: 10/ 14;
      grid-row: 2/ 6;
      width: 40rem;
      height: 40rem;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      transform: translateX(0) translateY(0) scale(1) rotate(0);
      opacity: 0;
      animation: 4s blobbing 1.6s linear infinite, 3s birth 2s ease-in-out forwards; }
    .about__goo--3 {
      grid-column: 12/ 15;
      grid-row: 10 / 13;
      transform: translateX(-250%) translateY(60%) scale(0.3) rotate(0);
      opacity: 0;
      width: 25rem;
      height: 25rem;
      animation: 6s blobbing 1.6s linear infinite, 3s birth2 6s ease-in-out forwards; }
    .about__goo--4 {
      width: 15rem;
      height: 15rem;
      top: 100%;
      right: 10%;
      transform: scale(1);
      animation: 25s floating 10s linear infinite; }
    .about__goo--5 {
      width: 22rem;
      height: 22rem;
      transform: scale(1);
      top: 100%;
      left: 20%;
      animation: 21s floating2 14s linear infinite; }
    .about__goo--6 {
      width: 10rem;
      height: 10rem;
      top: 100%;
      left: 10%;
      animation: 23s floating3 18s linear infinite; }

@keyframes speaker {
  0% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9); }
  10% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9); }
  20% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(1.1); }
  70% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(1.1); }
  90% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9); }
  100% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(1); } }

@keyframes shouting {
  100% {
    opacity: 1;
    transform: rotate(-18deg) translateX(20%); } }
