::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  font-weight: 300;
  background-color: black;
  font-family: "Josefin Sans", sans-serif; }

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem); }

h1 {
  font-size: 10rem;
  font-weight: 700;
  font-family: "Manjari", sans-serif;
  letter-spacing: .5rem; }

h2 {
  font-size: 5rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif; }

h3 {
  font-size: 4rem;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif; }

h4 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif; }

h5 {
  font-size: 2rem;
  font-family: "Manjari", sans-serif;
  font-weight: 700; }

p {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif; }

.btn {
  position: fixed;
  cursor: pointer;
  color: #fffef8;
  border-radius: 50%;
  background-color: black;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; }
  .btn__card {
    position: absolute;
    backface-visibility: hidden;
    transition: .3s all linear;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 2800;
    opacity: 0;
    background-color: transparent;
    border-radius: 50%; }
    .btn__card--top {
      grid-row: 1/2; }
      .btn__card--top::after {
        content: "";
        display: block;
        height: .3rem;
        width: 6rem;
        background-color: #ff0000;
        border-radius: 1rem;
        text-align: center;
        margin: 0 auto; }
    .btn__card--bottom {
      grid-row: 2/3; }
    .btn__card--front {
      opacity: 1;
      border-radius: 50%;
      transform: scale(1); }
    .btn__card--back {
      position: absolute;
      z-index: 2850;
      justify-content: center;
      align-content: center;
      background-color: transparent;
      grid-row: 1/2;
      padding: 0;
      color: #fffef8;
      opacity: 0;
      transform-origin: center;
      transform: scale(0);
      transition: .2 all linear; }
  .btn__icon {
    position: absolute;
    background-color: transparent;
    height: 90%;
    width: 100%;
    transform: translateX(-50%); }

@keyframes blowing {
  0% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateY(0) translateX(-2rem) scale(0.1); }
  20% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(5px); }
  50% {
    border-radius: 57% 43% 56% 44% / 41% 51% 49% 59%;
    transform: translateY(-3px) translateX(-1rem); }
  80% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(0) translateX(-1rem); }
  100% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateX(0) translateY(0) scale(1); } }

@keyframes blobbing {
  0% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateY(0) translateX(0) rotate(0); }
  20% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(5px); }
  50% {
    border-radius: 57% 43% 56% 44% / 41% 51% 49% 59%;
    transform: translateY(-3px) translateX(-1rem); }
  80% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%;
    transform: translateY(0) translateX(-1rem); }
  100% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
    transform: translateY(0) translateX(0); } }

@keyframes blobbing2 {
  0% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%; }
  20% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%; }
  50% {
    border-radius: 57% 43% 56% 44% / 41% 51% 49% 59%; }
  80% {
    border-radius: 57% 43% 48% 52% / 50% 47% 53% 50%; }
  100% {
    border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%; } }

@keyframes birth {
  0% {
    transform: scale(0.3) translateX(-200%) translateY(60%);
    opacity: 0; }
  2% {
    opacity: 1; }
  10% {
    transform: scale(0.3) translateX(-180%) translateY(50%); }
  15% {
    transform: scale(0.4) translateX(-170%) translateY(40%); }
  20% {
    transform: scale(0.4) translateX(-180%) translateY(50%); }
  25% {
    transform: scale(0.4) translateX(-160%) translateY(50%); }
  30% {
    transform: scale(0.4) translateX(-150%) translateY(50%); }
  35% {
    transform: scale(0.4) translateX(-160%) translateY(50%); }
  40% {
    transform: scale(0.4) translateX(-150%) translateY(50%); }
  60% {
    transform: scale(0.4) translateX(-160%) translateY(50%); }
  100% {
    transform: scale(1) tanslateX(0) translateY(0);
    opacity: 1; } }

@keyframes birth2 {
  0% {
    transform: scale(0.4) translateX(-200%) translateY(40%);
    opacity: 0; }
  2% {
    transform: scale(0.5) translateX(-200%) translateY(40%);
    opacity: 1; }
  10% {
    transform: scale(0.6) translateX(-130%) translateY(30%); }
  15% {
    transform: scale(0.7) translateX(-120%) translateY(20%); }
  20% {
    transform: translateX(-130%) translateY(30%); }
  25% {
    transform: translateX(-120%) translateY(30%); }
  30% {
    transform: translateX(-130%) translateY(30%); }
  35% {
    transform: translateX(-120%) translateY(30%); }
  40% {
    transform: scale(0.8) translateX(-130%) translateY(30%); }
  60% {
    transform: scale(0.8) translateX(-120%) translateY(30%); }
  100% {
    transform: scale(1) translateX(0) translateY(0);
    opacity: 1; } }

@keyframes floating {
  10% {
    transform: scale(1.3);
    right: 3%; }
  15% {
    right: 2%; }
  20% {
    right: 3%; }
  60% {
    top: 3%;
    right: 75%; }
  100% {
    transform: scale(1);
    top: 110%;
    right: 7%; } }

@keyframes floating2 {
  30% {
    transform: scale(0.7);
    top: 5%;
    left: 45%; }
  50% {
    top: 1%;
    left: 30%; }
  100% {
    top: 80%;
    left: 20%; } }

@keyframes floating3 {
  50% {
    top: 2%;
    left: 25%; }
  100% {
    top: 80%;
    left: 70%; } }

@keyframes speaker {
  0% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9); }
  10% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9); }
  20% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(1.1); }
  70% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(1.1); }
  90% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9); }
  100% {
    transform: translate(-40%, -15%) rotate(75deg) scaleY(1); } }

@keyframes shouting {
  100% {
    opacity: 1;
    transform: rotate(-18deg) translateX(20%); } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blinking {
  50% {
    border-color: transparent; } }

@keyframes blinking-end {
  100% {
    border-color: transparent; } }

@keyframes blinking-below {
  50% {
    border-color: black; } }

@keyframes totheRight {
  0% {
    opacity: 1;
    transform: translateX(0);
    background-color: transparent; }
  10% {
    transform: translateX(1rem); }
  20% {
    transform: translateX(1rem); }
  25% {
    transform: translateX(-5rem); }
  50% {
    transform: translateX(-5rem);
    width: 3rem; }
  68% {
    width: 32rem;
    background-color: #ff0000;
    transform: translateX(32rem); }
  90% {
    background-color: #ff0000;
    width: 32rem; }
  92% {
    background-color: transparent; }
  93% {
    transform: translateX(32rem) rotate3d(0, 0, 0, 0);
    opacity: 1; }
  95% {
    opacity: 0;
    width: 100%;
    transform-origin: 0% 0%;
    transform: translateX(32rem) rotate3d(0, -1, 0, -92deg); }
  96% {
    opacity: 0; }
  100% {
    opacity: 0;
    width: 100%;
    transform-origin: 0% 0%;
    transform: translateX(32rem) rotate3d(0, -1, 0, -92deg); } }

@keyframes totheLeft {
  0% {
    opacity: 1;
    color: black;
    transform: translateX(5rem) translateY(0) rotateY(85deg) scale(1); }
  20% {
    transform: translateX(5rem) translateY(0) rotateY(0) scale(1); }
  100% {
    opacity: 1;
    color: black;
    transform: translateX(-22rem) translateY(0) rotateY(0) scale(1); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  55% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes coloring {
  0% {
    opacity: 1;
    color: #fffef8; }
  100% {
    opacity: 1;
    color: black; } }

@keyframes appear {
  100% {
    opacity: 1; } }

@keyframes blackBackground {
  0% {
    background-color: transparent; }
  100% {
    background-color: black; } }

@keyframes slidingRight {
  0% {
    margin-left: 200%;
    opacity: 0; }
  2% {
    opacity: 1; }
  100% {
    opacity: 1;
    margin-left: 0; } }

@keyframes slideDown {
  0% {
    opacity: 1;
    margin-top: 0; }
  95% {
    opacity: 1; }
  100% {
    opacity: 0;
    margin-top: 100%; } }

@keyframes slideUp {
  0% {
    opacity: 1;
    top: 150%; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes turning {
  0% {
    color: black;
    opacity: 1;
    transform-origin: 50% 50%;
    width: 100%;
    transform: translateX(-22rem) rotate(0); }
  30% {
    color: black;
    opacity: 1; }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    width: 100%;
    transform: translateX(-22rem) rotate(1440deg); } }

@keyframes turningIn {
  0% {
    color: black;
    opacity: 0;
    transform-origin: 50% 50%;
    transform: translateX(-5rem) rotate(0); }
  1% {
    opacity: 1; }
  100% {
    color: black;
    opacity: 1;
    transform: translateX(-5rem) rotate(360deg); } }

@keyframes zoomOut {
  0% {
    opacity: 1; }
  96% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateX(1100%) translateY(-15%) rotate(20deg) scale(1.5); } }

@keyframes openingEye {
  0% {
    transform: scale(2.5) rotate3d(1, 0, 0, 90deg); }
  100% {
    transform: scale(2.5) rotate3d(0, 0, 0, 0); } }

@keyframes insideEye {
  0% {
    transform: rotate3d(1, 0, 0, 90deg); }
  100% {
    transform: rotate3d(0, 0, 0, 0); } }

@keyframes shikaku {
  0% {
    border-radius: 50%; }
  100% {
    border-radius: 2.8rem; } }

@keyframes maru {
  0% {
    border-radius: 2.8rem; }
  100% {
    border-radius: 50%; } }

@keyframes zoomingIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes zoomingOut {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(0); } }

@keyframes arrow-top {
  100% {
    color: transparent;
    border-bottom: 0.3rem solid #fffef8;
    width: 1rem;
    transform: rotate(45deg); } }

.wrapper {
  display: grid;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
  gap: 1.5rem;
  width: 100%;
  height: 150%;
  grid-row: 1 / -1;
  grid-column: 3/-1;
  background-color: #fffef8;
  border-radius: 100% 0% 81% 19% / 61% 100% 0% 39%;
  position: relative;
  transform-style: preserve-3d;
  transition: all linear;
  overflow: hidden; }

.logo {
  width: 15rem;
  height: 15rem;
  background-color: #fffef8;
  position: relative;
  grid-column: 2/5;
  grid-row: 1/4;
  justify-self: start;
  transform: translateY(4rem);
  border: 1px solid #fffef8;
  border-radius: 50%;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  cursor: pointer;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; }
  .logo__letter {
    font-family: "Manjari", sans-serif;
    text-transform: lowercase;
    position: absolute;
    font-weight: 700;
    font-size: 6rem;
    grid-column: 2/3;
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: all .2s ease-out; }
    .logo__letter--i {
      grid-row: 1/2;
      z-index: 4000;
      padding-top: 1rem;
      text-transform: uppercase;
      font-size: 5rem;
      transform: scale(1) translateY(0); }
    .logo__letter--c {
      grid-row: 2/3;
      z-index: 3000; }
    .logo__letter--o {
      grid-row: 3/4;
      z-index: 3500; }
  .logo__home {
    display: none;
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 2rem;
    font-weight: 300; }
  .logo:hover .logo__letter--i {
    grid-row: 2/3;
    align-self: start;
    transform: scale(0.8) translateY(-30%); }
  .logo:hover .logo__letter--o {
    grid-row: 2/3; }
  .logo:hover .logo__letter--c {
    opacity: 0; }
  .logo:hover .logo__home {
    display: block; }

.about {
  position: relative;
  z-index: 2000;
  grid-row: 3/ 14;
  grid-column: 2/-1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
  gap: 1.5rem;
  justify-items: center;
  align-items: center; }
  .about__menu {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
    color: black;
    height: 8rem;
    width: 8rem;
    z-index: 2100;
    text-align: center;
    transform: translateX(-4rem);
    font-size: 2rem;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 2800; }
    .about__menu--top {
      grid-column: 1/2;
      grid-row: 1/2; }
      .about__menu--top::after {
        content: "";
        display: block;
        height: .5rem;
        width: 4rem;
        margin: 0 auto;
        background-color: black;
        border-radius: 1rem;
        text-align: center; }
    .about__menu--bottom {
      grid-column: 1/2;
      grid-row: 2/3; }
    .about__menu--icon {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 4rem;
      width: 4rem;
      transition: all linear;
      transform: translate(-40%, -15%) rotate(75deg) scaleY(0.9);
      animation: speaker 2s ease-in .5s 1 forwards; }
    .about__menu--lines {
      position: absolute;
      height: 3px;
      width: 2rem;
      background-color: black;
      top: 10%;
      right: -30%;
      transform: rotate(-18deg) translateX(-100%);
      border-radius: 5rem;
      transition: all linear;
      opacity: 0;
      animation: shouting .5s ease-in .5s 2 forwards; }
      .about__menu--lines::before, .about__menu--lines::after {
        content: "";
        display: block;
        background-color: inherit;
        width: inherit;
        height: inherit;
        border-radius: inherit; }
      .about__menu--lines::before {
        transform: translateY(-350%) rotate(-28deg); }
      .about__menu--lines::after {
        transform: translateY(300%) rotate(28deg); }
    .about__menu:hover .about__menu--icon {
      animation: speaker 2s ease-in .2s; }
    .about__menu:hover .about__menu--lines {
      animation: shouting .5s ease-in .2s; }
  .about__greet {
    grid-column: 3 / 9;
    grid-row: 4 / 9;
    z-index: 2100;
    width: 38rem; }
    .about__greet h1 {
      width: 0;
      overflow: hidden;
      margin: 1rem auto;
      width: 0;
      height: 8rem;
      white-space: nowrap;
      letter-spacing: 1.2rem;
      margin-bottom: 2rem;
      color: black; }
    .about__greet :nth-child(1) {
      border-right: 5px black solid;
      animation: 0.8s typing steps(10, start) 2s forwards, 0.5s blinking step-end alternate infinite, 0.2s blinking-end 4.2s linear forwards; }
    .about__greet :nth-child(2) {
      border-right: 5px transparent solid;
      animation: 1.5s typing 4.5s steps(20, start) forwards, 0.5s blinking-below 4.2s step-end alternate infinite, 0.2s blinking-end 8s linear forwards; }
  .about__sub {
    position: absolute;
    grid-column: 4/9;
    grid-row: 9/ 13;
    z-index: 2100; }
    .about__sub h2 {
      color: #fffef8; }
  .about__me {
    grid-column: 9/ 16;
    grid-row: 3/ 11;
    height: 100%;
    width: 100%;
    color: #fffef8;
    display: grid;
    grid-template-columns: repeat(8, minmax(5.5rem, auto));
    grid-template-rows: repeat(8, minmax(4.43rem, auto));
    gap: 1rem;
    position: relative;
    align-content: center; }
    .about__me--content {
      position: absolute;
      color: #fffef8;
      grid-column: 1/ 9;
      grid-row: 1/ 9;
      display: grid;
      grid-template-columns: repeat(8, 5vw);
      grid-template-rows: repeat(7, 7.7vh);
      column-gap: 2rem;
      row-gap: 1.5rem;
      justify-items: center;
      align-items: center;
      align-content: center;
      z-index: 2200;
      height: 100%;
      width: 100%;
      perspective: 2000px;
      border-radius: 64% 36% 62% 38% / 61% 48% 52% 39%;
      transition: all linear;
      animation: blobbing 15s linear infinite; }
      .about__me--content h1 {
        grid-column: 2/ 3;
        grid-row: 3/ 6;
        font-family: "Josefin Sans", sans-serif;
        color: #fffef8;
        font-size: 25rem;
        font-weight: 900;
        transform-style: preserve-3d;
        width: 3rem;
        height: 100%;
        text-align: right;
        margin: 0;
        opacity: 0;
        transition: all linear;
        transform-origin: left;
        background-color: transparent;
        z-index: 2500;
        align-items: center; }
      .about__me--content h2 {
        color: #fffef8;
        transform: translate3d(0, 0, 0);
        margin: 0;
        font-weight: 700;
        justify-self: start;
        opacity: 0;
        transition: all linear .3s;
        z-index: 2300; }
    .about__me--1 h1 {
      justify-self: end;
      align-self: end;
      transform: translateX(-2rem) rotate3d(0, 0, 0, 0);
      opacity: 0;
      animation: 2s fade-in 1s linear forwards, .2s coloring 9.5s ease-in forwards, 2.5s totheRight 10.5s ease-in forwards; }
    .about__me--1 h2 {
      animation: 2s fade-in 1s linear forwards, .1s fade-out 12.6s linear forwards; }
    .about__me--1 :nth-child(2) {
      grid-column: 3/ 8;
      grid-row: 3/ 4; }
    .about__me--1 :nth-child(3) {
      grid-column: 3/ 8;
      grid-row: 4/ 5; }
    .about__me--1 :nth-child(4) {
      grid-column: 3/ 8;
      grid-row: 5/ 6; }
    .about__me--2 {
      opacity: 0;
      animation: .2s appear 12.87s linear forwards; }
      .about__me--2 h1 {
        grid-column: 4/6;
        justify-self: end;
        align-self: center;
        width: 100%;
        transform-origin: 0% 0%;
        transform: translateX(5rem) translateY(0) rotateY(85deg) scale(1);
        animation: 1.5s totheLeft 12.87s ease-in-out forwards, 2s turning 17s ease-in forwards; }
      .about__me--2 h2 {
        width: 30rem;
        margin-left: 200%;
        opacity: 0;
        height: 5rem;
        overflow: hidden;
        transition: all linear .2s;
        animation: 1.5s slidingRight 13s ease-in-out forwards, .5s slideDown 18.5s ease-in forwards; }
      .about__me--2 :nth-child(2) {
        grid-column: 4/ 7;
        grid-row: 3/ 4;
        opacity: 0; }
      .about__me--2 :nth-child(3) {
        grid-column: 3/ 7;
        grid-row: 4/ 5;
        opacity: 0; }
      .about__me--2 :nth-child(4) {
        grid-column: 4/ 7;
        grid-row: 5/ 6;
        opacity: 0; }
    .about__me--3 {
      opacity: 0;
      animation: .2s appear 18.5s linear forwards; }
      .about__me--3 h1 {
        color: black;
        opacity: 0;
        width: 100%;
        transform-origin: 50% 50%;
        text-align: left;
        transform: translateX(-5rem) translateY(0) rotate(0);
        animation: 0.5s turningIn 18.5s ease-out forwards, 1s zoomOut 21s cubic-bezier(0.86, -0.57, 0.45, 0.77) forwards; }
      .about__me--3 h2 {
        opacity: 0;
        justify-self: center;
        text-align: center;
        transform: rotate(20deg);
        z-index: 2700;
        text-transform: uppercase; }
      .about__me--3 :nth-child(2) {
        opacity: 0;
        grid-row: 4/5;
        grid-column: 2/3;
        justify-self: end;
        transform: translateY(17%) rotate(20deg);
        animation: 0.05s appear 19.5s linear forwards, 1s zoomOut 22s cubic-bezier(0.86, -0.57, 0.45, 0.77) forwards; }
      .about__me--3 :nth-child(3) {
        opacity: 0;
        grid-column: 3 /4;
        grid-row: 4/5;
        font-size: 7rem;
        animation: 0.05s appear 19.55s linear forwards, 1s zoomOut 22s cubic-bezier(0.86, -0.57, 0.45, 0.77) forwards; }
      .about__me--3 :nth-child(4) {
        opacity: 0;
        grid-column: 4 /5;
        grid-row: 4/5;
        font-size: 9rem;
        animation: 0.05s appear 19.6s linear forwards, 1s zoomOut 22s cubic-bezier(0.86, -0.57, 0.45, 0.77) forwards; }
      .about__me--3 :nth-child(5) {
        opacity: 0;
        grid-column: 5 /6;
        grid-row: 4/5;
        font-size: 11rem;
        animation: 0.05s appear 19.65s linear forwards, 1s zoomOut 22s cubic-bezier(0.86, -0.57, 0.45, 0.77) forwards; }
      .about__me--3 :nth-child(6) {
        opacity: 0;
        grid-column: 6 /8;
        grid-row: 4/5;
        font-size: 19rem;
        transform: translateX(-10%) rotate(20deg);
        animation: 0.05s appear 19.7s linear forwards, 1s zoomOut 22s cubic-bezier(0.86, -0.57, 0.45, 0.77) forwards; }
  .about__goo {
    z-index: 1800;
    position: relative;
    grid-column: 1/ -1;
    grid-row: 1/ -1;
    height: 100%;
    width: 100%;
    background-color: #fffef8;
    filter: blur(20px) contrast(70);
    display: grid;
    grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
    grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
    gap: 1.5rem; }
    .about__goo > * {
      background-color: #f00000;
      position: absolute;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      transition: all linear; }
    .about__goo--1 {
      grid-column: 2/8;
      grid-row: 7/14;
      width: 58rem;
      height: 50rem;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      transform: translateX(0) translateY(0) rotate(0) scale(0.05);
      transition: all linear;
      animation: 2s blowing 1.5s ease-in-out forwards, 5s blobbing 2s linear infinite; }
    .about__goo--2 {
      grid-column: 9/ -1;
      grid-row: 3/ 10;
      width: 55rem;
      height: 45rem;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      transform: translateX(0) translateY(0) scale(1) rotate(0);
      opacity: 0;
      animation: 4s blobbing 2.6s linear infinite, 3s birth 3s ease-in-out forwards; }
    .about__goo--3 {
      grid-column: 12/ 15;
      grid-row: 9 / 13;
      transform: translateX(-250%) translateY(60%) scale(0.3) rotate(0);
      opacity: 0;
      width: 30rem;
      height: 30rem;
      animation: 6s blobbing 2.6s linear infinite, 3s birth2 7s ease-in-out forwards; }
    .about__goo--4 {
      width: 21rem;
      height: 21rem;
      top: 100%;
      right: 10%;
      transform: scale(1);
      animation: 25s floating 11s linear infinite; }
    .about__goo--5 {
      width: 18rem;
      height: 18rem;
      transform: scale(1);
      top: 100%;
      left: 20%;
      animation: 20s floating2 15s linear infinite; }
    .about__goo--6 {
      width: 20rem;
      height: 20rem;
      top: 100%;
      left: 10%;
      animation: 23s floating3 19s linear infinite; }

.projects {
  grid-row: 1 / -1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
  gap: 1.5rem;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(11, minmax(6.5rem, 1fr)) 2rem minmax(2rem, 5rem);
  gap: 2.5rem;
  position: relative; }
  .projects__sml {
    grid-row: 6/9;
    grid-column: 9/16;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2700;
    display: grid;
    opacity: 0;
    grid-template-columns: repeat(7, minmax(8.22rem, auto));
    grid-template-rows: repeat(3, minmax(7.46rem, auto));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    transform-origin: center;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: .2s appear 23s ease-in forwards; }
  .projects__checkbox {
    display: none; }
  .projects__menubox {
    grid-column: 3 / 6;
    position: relative;
    grid-row: 1/-1;
    height: 10rem;
    width: 10rem;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center; }
  .projects__menu {
    height: 9.5rem;
    width: 9.5rem;
    font-size: 2.6rem;
    position: absolute;
    background-color: transparent;
    transform-origin: 50% 50%;
    transition: all .2s ease;
    z-index: 3500;
    border: none; }
    .projects__menu--card {
      grid-row: 1/-1;
      grid-column: 1/-1;
      transition: .3s all linear;
      z-index: 3600;
      justify-content: center;
      align-content: center;
      background-color: transparent;
      height: 9.5rem;
      width: 9.5rem;
      font-size: 2.6rem;
      transition: all .2s;
      animation: 3s blackBackground 24s linear forwards; }
    .projects__menu--back {
      width: 7.5rem;
      height: 7.5rem; }
      .projects__menu--back > svg {
        fill: #faeeb8; }
    .projects__menu:hover > .projects__menu--back {
      background: #06b306; }
    .projects__menu--top, .projects__menu--bottom {
      position: absolute;
      z-index: 3700;
      color: inherit;
      transition: .2s all  linear backwards;
      transform: rotate3d(1, 0, 0, 90deg);
      color: #fffef8;
      animation: .3s insideEye 23.5s ease-in forwards; }
    .projects__menu--top {
      align-self: end; }
    .projects__menu--bottom {
      align-self: start; }
    .projects__menu--icon {
      fill: #fffef8; }
    .projects__menu:hover > .projects__menu--front {
      border: 5px #fffef8 solid;
      animation-fill-mode: backwards; }
    .projects__menu:hover .projects__menu--icon {
      transform: translateX(0); }
  .projects__icon {
    position: absolute;
    grid-row: 1/-1;
    grid-column: 1/-1;
    fill: black;
    transition: all .2s linear; }
    .projects__icon--eye {
      z-index: 2750;
      width: 15.5rem;
      height: 15.5rem;
      transform-origin: center;
      transform: scale(2.5) rotate3d(1, 0, 0, 90deg);
      animation: .3s openingEye 23.5s ease-in forwards; }
  .projects__background {
    position: absolute;
    opacity: 0;
    height: 300rem;
    width: 300rem;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transform: scale(0);
    grid-column: 4 / 5;
    grid-row: 2/3;
    z-index: 3300;
    background-color: #faeeb8; }
  .projects__checkbox:checked ~ .projects__background {
    opacity: 1;
    transform: scale(1); }
  .projects__checkbox:checked + .projects__menu {
    animation: .2s shikaku .2s linear forwards;
    transform: scale(0.6); }
  .projects__checkbox:checked + .projects__menu .projects__menu--front {
    animation: .2s zoomingOut .2s linear forwards; }
  .projects__checkbox:checked + .projects__menu > .projects__menu--back {
    animation: .1s zoomingIn .2s linear forwards;
    transform: scale(0.6); }
  .projects__checkbox:checked ~ .projects__nav {
    opacity: 1;
    width: 100%; }
  .projects__checkbox:checked + .projects__menu {
    height: 6rem;
    width: 6rem; }
  .projects__card {
    position: relative;
    z-index: 4000;
    visibility: hidden;
    transform: scale(0);
    height: 22rem;
    width: 100%;
    transition: all 0.2s ease;
    transform-style: preserve-3d;
    perspective: 1000px; }
    .projects__card > * {
      position: absolute;
      margin: 0;
      padding: 0;
      pointer-events: none;
      height: 100%;
      width: 100%;
      border-width: 3px;
      border-style: solid; }
    .projects__card--front {
      transform: rotateX(0);
      background-color: #fffef8;
      transition: all 0.2s ease;
      transform-origin: 50% 50% -11rem;
      display: grid;
      grid-template-columns: 6rem 1fr 6rem;
      grid-template-rows: 3rem repeat(2, 7rem) 3rem;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center; }
      .projects__card--front svg,
      .projects__card--front > div {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 5rem;
        height: 5rem;
        margin: 0; }
      .projects__card--front h5 {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-family: "Manjari", sans-serif;
        letter-spacing: .2rem; }
    .projects__card--back {
      display: grid;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      height: 22rem;
      grid-template-rows: [title-start] 6rem [title-end] 1fr 3rem;
      grid-template-columns: 2rem 1fr 2rem;
      gap: 1rem;
      background-color: black;
      transform: rotateX(85deg);
      transition: all 0.2s ease;
      transform-origin: 50% 50% -11rem; }
      .projects__card--back > * {
        margin: 0;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent; }
      .projects__card--back h5 {
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: end;
        text-transform: capitalize;
        padding-top: 2rem;
        border-bottom-style: solid;
        border-bottom-width: .5px; }
      .projects__card--back p {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
        hyphens: auto;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.2rem; }
      .projects__card--back a {
        grid-column: 2/3;
        grid-row: 3/4;
        padding-bottom: 3rem;
        text-decoration: none; }
      .projects__card--backa:link, .projects__card--backa:visited {
        font-weight: 300;
        font-size: 1.4rem; }
      .projects__card--backa:hover, .projects__card--backa:active {
        font-weight: 400 !important;
        font-size: 1.5rem !important; }
    .projects__card:hover .projects__card--back {
      transform: rotateX(0deg); }
    .projects__card:hover .projects__card--front {
      transform: rotateX(-90deg); }
  .projects__top-row {
    transform: translateY(-1.5rem); }
  .projects__card-1 {
    grid-row: 6/9;
    grid-column: 4/7; }
    .projects__card-1--front {
      border-color: black; }
      .projects__card-1--front svg {
        fill: #f00000; }
    .projects__card-1--back {
      border-color: #fd714e; }
      .projects__card-1--back h5 {
        border-color: rgba(253, 113, 78, 0.5); }
      .projects__card-1--back > * {
        background: -webkit-linear-gradient(to top, #fd714e, #fff7e2);
        background-image: linear-gradient(to top, #fd714e, #fff7e2); }
  .projects__card-2 {
    grid-row: 6/9;
    grid-column: 7/10; }
    .projects__card-2 svg {
      fill: #6e6b05; }
    .projects__card-2--back {
      border-color: #6e6b05; }
      .projects__card-2--back h5 {
        border-color: rgba(255, 212, 82, 0.5); }
      .projects__card-2--back > * {
        background: -webkit-linear-gradient(to bottom, #d2cee2, #ffd452);
        background-image: linear-gradient(to bottom, #d2cee2, #ffd452); }
  .projects__card-3 {
    grid-row: 6/9;
    grid-column: 10/13; }
    .projects__card-3 svg {
      fill: #920707; }
    .projects__card-3--back {
      border-color: #920707; }
      .projects__card-3--back h5 {
        border-color: rgba(146, 7, 7, 0.5); }
      .projects__card-3--back > * {
        background: -webkit-linear-gradient(to bottom, #fffbd5, #ce0b32);
        background-image: linear-gradient(to bottom, #fffbd5, #ce0b32); }
  .projects__card-4 {
    grid-row: 9/12;
    grid-column: 4/7; }
    .projects__card-4 svg {
      fill: darkcyan; }
    .projects__card-4--back {
      border-color: darkcyan; }
      .projects__card-4--back h5 {
        border-color: rgba(0, 217, 251, 0.5); }
      .projects__card-4--back > * {
        background: -webkit-linear-gradient(to top, #00d9fb 0%, #12f7a7 100%);
        background-image: linear-gradient(to top, #00d9fb 0%, #12f7a7 100%); }
  .projects__card-5 {
    grid-row: 9/12;
    grid-column: 7/10; }
    .projects__card-5 svg {
      fill: #ff9100; }
    .projects__card-5--back {
      border-color: #ff9100; }
      .projects__card-5--back h5 {
        border-color: rgba(255, 145, 0, 0.5); }
      .projects__card-5--back > * {
        background: -webkit-linear-gradient(to bottom, #ff9100, #b6fc9a);
        background-image: linear-gradient(to bottom, #ff9100, #b6fc9a); }
  .projects__card-6 {
    grid-row: 9/12;
    grid-column: 10/13; }
    .projects__card-6 svg {
      fill: #06b306; }
    .projects__card-6--back {
      border-color: #06b306; }
      .projects__card-6--back h5 {
        border-color: rgba(153, 249, 134, 0.5); }
      .projects__card-6--back > * {
        background: -webkit-linear-gradient(to top, #d3f5e2, #99f986);
        background-image: linear-gradient(to top, #d3f5e2, #99f986); }

.disappear {
  visibility: hidden; }

.scale1 {
  transform: scale(1);
  opacity: 1; }

.showing {
  visibility: visible; }

.changeGrid {
  animation: .2s movinRight ease-in-out forwards; }

.black {
  background-color: black;
  border-radius: 2.8rem;
  transform: scale(0.4); }
  .black__checkbox:checked ~ .black__background {
    opacity: 1;
    transform: scale(1); }
  .black__checkbox:checked + .black__menu {
    animation: .2s shikaku .2s linear forwards;
    transform: scale(0.6); }
  .black__checkbox:checked + .black__menu .black__menu--front {
    animation: .2s zoomingOut .2s linear forwards; }
  .black__checkbox:checked + .black__menu > .black__menu--back {
    animation: .1s zoomingIn .2s linear forwards;
    transform: scale(0.6); }

.zoon-out {
  animation: .2s zoomingOut .2s linear forwards; }

.zoom-in {
  animation: .1s zoomingIn .2s linear forwards; }

@keyframes movinRight {
  100% {
    grid-row: 3/4;
    grid-column: 7/8; } }

.poppingup {
  animation: .3s zoomingCard .5s ease-in-out forwards; }

@keyframes zoomingCard {
  0% {
    visibility: hidden;
    transform: scale(0); }
  5% {
    visibility: visible;
    transform: scale(0); }
  100% {
    visibility: visible;
    transform: scale(1); } }

.contact {
  grid-row: 1 / -1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
  grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
  gap: 1.5rem;
  position: relative; }
  .contact__checkbox {
    display: none; }
  .contact__small {
    grid-row: 10/13;
    grid-column: 13/15;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 150%;
    left: 0;
    justify-items: center;
    align-items: center;
    transform: translateY(-5rem);
    z-index: 2700;
    display: grid;
    transform-origin: 50% 50%;
    grid-template-columns: repeat(4, 4.25rem);
    grid-template-rows: repeat(6, 4rem);
    transition: all .2s linear;
    animation: .2s appear 8s linear forwards, .3s slideUp 10s ease-in forwards; }
  .contact__menu {
    height: 8.5rem;
    width: 8.5rem;
    background-color: black;
    grid-row: 1/4;
    grid-column: 1/5;
    z-index: 2900;
    transform-origin: 50% 50%;
    transition: .2s all linear; }
    .contact__menu--card {
      z-index: 2900;
      height: 8.5rem;
      width: 8.5rem;
      background-color: black;
      transition: .3s all linear;
      overflow: hidden;
      grid-column: 1/-1;
      grid-row: 1/-1;
      animation: .3s appear 8s linear forwards; }
    .contact__menu:hover {
      border: 5px #fffef8 solid;
      transform-origin: center; }
    .contact__menu:hover .contact__menu--icon {
      fill: #fffef8;
      transform: translateX(0); }
    .contact__menu:hover > .contact__menu--card {
      font-size: 1.8rem; }
    .contact__menu--top, .contact__menu--bottom {
      z-index: 2600; }
    .contact__menu--top {
      padding-top: 2rem; }
    .contact__menu--bottom {
      padding-bottom: 1rem; }
    .contact__menu--icon {
      fill: #ff9c00; }
  .contact__background {
    position: absolute;
    opacity: 0;
    height: 300rem;
    width: 300rem;
    border-radius: 50%;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transform: scale(0);
    z-index: 2780;
    grid-row: 1/4;
    background-image: radial-gradient(#ffa500 0%, #ff9900 5%, #ff5e00 50%, #ff0000 100%);
    animation: .3s appear 10.5s ease-in forwards; }
  .contact__content {
    position: absolute;
    grid-column: 1 /12;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr)) 2rem minmax(2rem, 5rem);
    grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr)) 2rem minmax(2rem, 5rem);
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2800;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all .2s ease-in;
    opacity: 0;
    transform-style: preserve-3d; }
    .contact__content--details > * {
      position: absolute;
      color: #fffef8; }
    .contact__content--details {
      grid-column: 4/11;
      grid-row: 5/11;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2800;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
      grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
      justify-items: center;
      align-items: center;
      align-content: center;
      transform-style: preserve-3d;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      background-color: #faeeb8;
      animation: 10s blobbing2 .5s linear infinite; }
    .contact__content--speech {
      grid-column: 1 /-1;
      grid-row: 1/-1;
      width: 100%;
      height: 100%;
      transform-origin: center;
      transform: rotate(300deg) translateY(5%) translateX(5%);
      z-index: 2850;
      fill: black; }
    .contact__content--speech-2 {
      fill: #faeeb8;
      width: 115%;
      height: 115%;
      transform: rotate(0) translateY(0) translateX(0); }
    .contact__content--title {
      grid-column: 2/10;
      grid-row: 3/4;
      z-index: 2850;
      z-index: 2900;
      color: #faeeb8; }
    .contact__content--list {
      grid-column: 2 /10;
      display: grid;
      justify-items: center;
      align-items: center;
      color: #faeeb8;
      grid-template-columns: min-content 1fr;
      gap: 1rem;
      height: 100%;
      max-width: 70%;
      transition: all .2s linear;
      z-index: 3000; }
      .contact__content--list:hover > svg {
        transform-origin: 50% 50%;
        animation: .2s jump .2s linear alternate 4; }
      .contact__content--list:hover > h4 {
        color: #ff3c00;
        color: #a5ffef; }
    .contact__content--name {
      grid-row: 4/5; }
    .contact__content--email {
      grid-row: 5/6;
      width: 70%; }
    .contact__content--language {
      grid-row: 6/7;
      width: 70%; }
    .contact__content--map {
      grid-row: 7/8; }
    .contact__content--icon {
      grid-column: 1/2;
      fill: #ff3c00;
      fill: #2af1eb;
      width: 2.5rem;
      height: 2.5rem;
      z-index: 2900; }
    .contact__content h4 {
      grid-column: 2/3;
      margin: 0; }
    .contact__content--message {
      grid-column: 10/16;
      grid-row: 8/12;
      width: 100%;
      height: 100%;
      color: black;
      position: absolute;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
      z-index: 2800;
      grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
      justify-items: center;
      align-items: center;
      align-content: center;
      justify-content: center;
      z-index: 2800;
      border-radius: 62% 38% 65% 35% / 50% 49% 51% 50%;
      background-color: black;
      animation: 14s blobbing2 .7s linear infinite; }
      .contact__content--message h2 {
        color: black;
        position: absolute;
        grid-column: 2/8;
        grid-row: 2/5;
        text-align: center;
        z-index: 2900;
        color: black;
        font-size: 3.7rem; }
    .contact__content--message-back {
      display: absolute;
      width: 23rem;
      height: 23rem;
      background-color: lightskyblue;
      background-color: #00ff7b;
      grid-column: 2/8;
      grid-row: 2/5;
      border-radius: 62% 38% 65% 35%/50% 49% 51% 50%;
      background-image: radial-gradient(#00ff7b, #1c0575);
      z-index: 2850;
      animation: 9s blobbing2 .7s linear infinite; }
    .contact__content--job {
      position: absolute;
      grid-column: 12/16;
      grid-row: 4/9;
      width: 42rem;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      z-index: 2780;
      grid-template-columns: minmax(2rem, 5rem) 1fr minmax(2rem, 5rem);
      grid-template-rows: minmax(2rem, 5rem) 8rem 1fr minmax(2rem, 5rem); }
      .contact__content--job > * {
        position: absolute; }
      .contact__content--job h3 {
        z-index: 700;
        grid-row: 2/3;
        grid-column: 2/3;
        margin: 0;
        font-size: 3.5rem;
        color: #fffef8; }
    .contact__content--positions {
      z-index: 700;
      grid-row: 3/4;
      grid-column: 2/3;
      height: 100%;
      width: 80%;
      list-style: none;
      display: grid;
      justify-items: start;
      padding-left: 0;
      padding-bottom: 5rem; }
    .contact__content--position {
      display: grid;
      grid-template-columns: 4rem min-content 1fr;
      gap: 1.5rem;
      align-items: center;
      justify-items: start; }
      .contact__content--position:hover > svg {
        cursor: auto;
        animation: .5s shake .2s ease-in forwards; }
      .contact__content--position svg {
        grid-column: 2/3;
        width: 2rem;
        height: 2rem;
        transition: all .2s linear;
        fill: black; }
      .contact__content--position p {
        font-size: 2.5rem;
        margin: 0;
        grid-column: 3/-1;
        color: #fffef8;
        font-weight: 400; }
      .contact__content--position:hover > p {
        color: black; }
    .contact__content--clip {
      grid-row: 1/-1;
      grid-column: 1/-1;
      height: 45rem;
      width: 45rem;
      z-index: 500;
      fill: none;
      align-self: end;
      transform: rotateY(180deg) translateY(5%) translateX(-20%); }
  .contact__checkbox:checked ~ .contact__background {
    opacity: 1;
    transform: scale(1); }
  .contact__checkbox:checked + .contact__menu {
    animation: .2s shikaku .2s linear forwards;
    transform: scale(0.6); }
  .contact__checkbox:checked + .contact__menu .contact__menu--front {
    animation: .2s zoomingOut .2s linear forwards; }
  .contact__checkbox:checked + .contact__menu > .contact__menu--back {
    animation: .1s zoomingIn .2s linear forwards;
    transform: scale(0.6); }
  .contact__icon--2 {
    grid-row: 3/6;
    grid-column: 2/4;
    width: 10rem;
    height: 10rem;
    transform: scale(0.5); }

@keyframes shake {
  0% {
    transform: rotate(0); }
  20% {
    transform: rotate(-15deg); }
  40% {
    transform: rotate(15deg); }
  60% {
    transform: rotate(-15deg); }
  80% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0); } }

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1); }
  40% {
    transform: translate3d(0, 10%, 0) scale3d(0.9, 1.2, 1); }
  100% {
    transform: translate3d(0, 20%, 0) scale3d(1.2, 0.7, 1); } }

.appear {
  opacity: 1;
  transform: scale(1); }

.scaleBig {
  transform: scale(80); }
