::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; // 10/16=0.625
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    font-weight: 300;
    background-color: $base-black;
    font-family: $font-body;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:black;
    display: grid;
    justify-items: center;
    align-items: center;
    // grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr )) 2rem minmax(2rem, 5rem);
    // grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr )) 2rem minmax(2rem, 5rem);
    // used 1366px 657px ratio to calcurate the %
    grid-template-columns: 1fr 1.46%  repeat(12, 7.4%) 1.46% 1fr;
    grid-template-rows: 1fr 3.04% repeat(10, 7.823%) 3.04% 1fr;

    @media #{$mob-xxs-port}{
        @include temp-sml;
        background-color:$base-white;
      }
}