
.btn{
    position: fixed;
    cursor: pointer;
    //@include menubox;
    color: $base-white;
    border-radius: 50%;

    &__card {
        position: absolute;
        backface-visibility: hidden;
        transition: .3s all linear;
        top:0;
        left:0;
        @include menubox;
        opacity:0;
        background-color: $base-black;
        border-radius: 50%;

        &--front{
            opacity: 1;
            border-radius: 50%;
            transform: scale(1);
        }
        &--back{
            position: absolute;
            z-index: 2850;
            @include centerContent;
            grid-row: 1/2;
            padding: 0;
            color: $base-white;  
            border-radius: 50%;
            opacity:0;
            transform-origin: center;
            transform: scale(0);
            transition: .2 all linear;
        }
    }
    &__icon {
        position: absolute;
        background-color: transparent;
         height: 100%;
         width: 100%;
         transform: translateX(-50%);
    }

}

