@mixin base-template {
    grid-template-columns: minmax(2rem, 5rem) 2rem repeat(12, minmax(6.25rem, 1fr )) 2rem minmax(2rem, 5rem);
    grid-template-rows: minmax(2rem, 5rem) 2rem repeat(10, minmax(4rem, 1fr )) 2rem minmax(2rem, 5rem);
    gap: 1.5rem;
}
@mixin centering {
    justify-items: center;
    align-items: center;
}
@mixin centerContent {
  justify-content: center;
  align-content: center;
}
@mixin menubox {

      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      display: grid;
      // grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      @include centering;
      position: relative;
      z-index: 2800;

      &--top{
        grid-row: 1/2;
        
        &::after{
          content: "";
          display: block;
          height: .3rem;
          width: 6rem;

          border-radius: 1rem;
          text-align: center;
          margin: 0 auto;
        }
      }

      &--bottom{
        grid-row: 2/3;
      }

      // &--lines {
      //   position: absolute;
        
      //   height: 3px;
      //   width: 2rem;
      //   // background-color: $base-black;
      //   top: 10%;
      //   right: -30%;
      //   transform: rotate(-18deg) translateX(-100%);
      //   border-radius: 5rem;
      //   transition: all linear;
      //   opacity: 0;
      //   animation: shouting .5s ease-in .5s 2 forwards;
      //   &::before,
      //   &::after {
      //     content: "";
      //     display: block;
      //     background-color: inherit;
      //     width: inherit;
      //     height: inherit;
      //     border-radius: inherit;
      //   }
      //   &::before {
          
      //     transform: translateY(-350%) rotate(-28deg);
      //   }

      //   &::after {
          
      //     transform: translateY(300%) rotate(28deg);
          
      //   }
      // }
}
//BUTTON MIXIN
@mixin background-bubble {
        position: absolute;
        
        opacity: 0;
        height: 300rem;
        width: 300rem;
        border-radius: 50%;

        transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
        transform: scale(0);
}

//--bBUTTON CHECKED MIXIN
// @mixin checked {
//   &__checkbox:checked ~ &__background {
    
//     transform: scale(80); 
//   }
//   &__checkbox:checked + &__menu &__menu--front{
//     opacity: 1; 
//     animation: .2s spinningOut .2s ease-in forwards;
//   }  

//   &__checkbox:checked + &__menu &__menu--back{
//     opacity: 0;       
//     animation: .2s  spinningIn .3s ease-in forwards;
//   } 


//   &__checkbox:not(:checked) + &__menu &__menu--back{
//     opacity: 1;    
//     animation: .2s spinningBackOut .2s ease-in forwards;
//   } 
//   &__checkbox:not(:checked) + &__menu &__menu--front{
      
//     animation: .2s spinningBackIn .3s ease-in forwards;
//   } 
  
// }

@mixin checked {
  &__checkbox:checked ~ &__background {
    opacity: 1;
    transform: scale(1); 

  }
  &__checkbox:checked + &__menu{
    animation: .2s shikaku .2s linear forwards;
    
  }
  &__checkbox:checked + &__menu &__menu--front{
    
    animation: .2s zoomingOut .2s linear forwards;
  }  

  &__checkbox:checked + &__menu &__menu--back{
          
    animation: .1s zoomingIn .2s linear forwards;
  } 


}
