$base-white: rgb(255, 254, 248);
$base-black: black;
$base-grey: rgb(165, 167, 166);



// orange ball
$orange-red: #ff3c00; 
$orange: #ff5e00;
$orange-light:#f5af19;
$orange-red-deep:  #f12711;

//red ball
$red-light: #f00000;
$red-darker: #dc281e;

//blue-green ball
$lime-green: #00F260;
$blue: #0575e6;

//fonts
$font-display: 'Manjari', sans-serif;
$font-body: 'Josefin Sans', sans-serif;

// font-family: 'Source Code Pro', monospace;

// font-family: 'Special Elite', cursive;

// font-family: 'Fredoka One', cursive;

// font-family: 'Ultra', serif;

// font-family: 'Manjari', sans-serif;

// font-family: 'Poppins', sans-serif;

// font-family: 'Montserrat', sans-serif;



// font-family: 'Manjari', sans-serif;

// font-family: 'Montserrat', sans-serif;

// font-family: 'Raleway', sans-serif;

// font-family: 'Quicksand', sans-serif;

// font-family: 'Josefin Sans', sans-serif;

