$base-white: rgb(255, 254, 248);
$base-black: black;
$base-grey: rgb(165, 167, 166);



// orange ball
$orange-red: #ff3c00; 
$orange-deep: #ff5e00;
$orange-light:#f5af19;
$orange:  #ffa500;
$orange-mid:  #ff9900;

//red ball
$red-light: #f00000;
$red-cube: #ff0000;
$purple: rgba(245, 0, 122, .7);
$baige-yellow: rgb(250, 238, 184);
//$baige-yellow: rgb(255, 232, 128);
//blue-green ball

$blue-deep: #1501ac;
$blue: #1c0575;
$blue-mid: #07c9ff;
$blue-light: #a5ffef;
$blue-mid-light: #2af1eb;
$blue-lime:#00ff7b;
$blue-green: rgb(1, 212, 191);

$green: rgb(1, 51, 25);

//fonts
$font-display: 'Manjari', sans-serif;
$font-body: 'Josefin Sans', sans-serif;


//border-radious
$base-radious:  62% 38% 65% 35% / 50% 49% 51% 50%;

//media queries
// Divice to consider
  
  //1920 +
  //max-with : 1920 (1080p displays)
  //max-with : 1680 (13″ MacBook Pro (1.5x scaling))
  //max-with : 1440 (13″ MacBook Pro (2x scaling))
  //max-with : 1366 ( ipad pro land)
  //max-with : 1366 (HD laptops (768p))
  //max-width: 1112px (iPad Pro 10″)
  
//--Desktop larger than 1920px--
$desktop-xxl: "only screen and (min-width: 2304px)";
$desktop-xl: "only screen and (min-width: 1920px)";

