$base-white: rgb(255, 254, 248);
$base-black: black;
$base-grey: rgb(165, 167, 166);



// orange ball
$orange-red: #ff3c00; 
$orange-deep: #ff5e00;
$orange-light:#f5af19;
$orange:  #ffa500;

//red ball
$red-light: #f00000;
$red-cube: #ff0000;
$purple: rgba(245, 0, 122, .7);
$bage-yellow: rgb(250, 238, 184);
$bage-yellow: rgb(255, 232, 128);
//blue-green ball

$blue: #0003d6;
$blue-light: #48cafd;
$blue-mid: #06b6fb;


//fonts
$font-display: 'Manjari', sans-serif;
$font-body: 'Josefin Sans', sans-serif;


