.about {
    &__goo {
        position: absolute;
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        animation: morph 3s linear infinite; 
        transform-style: preserve-3d;
        outline: 1px solid transparent;
        will-change: border-radius;
    
        &--1 {
            width: 55rem;
            height: 40rem;
            border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
            //background-color: $red-light;
            background-image: linear-gradient($lime-green, $blue);
            position: absolute;
            top: 25%;
            right: 10%;
            animation: morph 50s linear infinite;
        }
    }
    
}




@keyframes morph{
0%{
  // top: 100%;
border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  transform: translate3d(0,0,0) rotateZ(0.01deg);
}
34%{
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
  transform:  translate3d(0,5px,0) rotateZ(0.01deg);
}
50%{
  opacity: .89;
  transform: translate3d(0,0,0) rotateZ(0.01deg);
}
67%{
  border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
  transform: translate3d(0,-3px,0) rotateZ(0.01deg);
}
100%{
  //top: -100%;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn{
100%{
  transform: scale(1.03);
  opacity: 0;
}
}