.about {
    position: relative;
    z-index: 2000;
    
    grid-row: 4/ 12;
    grid-column: 2/-1;
    width: 100%;
    height: 100%;
    display: grid;
    @include base-template;
    @include   centering;

    &__menu{
      grid-column: 1 / 3;
      grid-row: 8 / 10;
      color: $base-black;
      height: 8rem;
      width: 8rem;
      z-index: 2100;
      text-align: center;
      transform: translateX(-4rem);
      font-size: 2rem;
      font-weight: 400;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      @include centering;
        position: relative;

      &--top{
        grid-column: 1/2;
        grid-row: 1/2;

        &::after{
          content: "";
          display: block;
          height: .5rem;
          width:6rem;
          background-color: $base-black;
          border-radius: 1rem;
          text-align: center;

        }
      }
      &--bottom{
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &--icon {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 4rem;
        width: 4rem;
        transform: translate(-40%, -15%) rotate(75deg);
      }
      &--lines {
        position: absolute;
        
        height: 3px;
        width: 2rem;
        background-color: $base-black;
        top: 10%;
        right: -30%;
        transform: rotate(-20deg);
        border-radius: 5rem;

        &::before,
        &::after {
          content: "";
          display: block;
          background-color: inherit;
          width: inherit;
          height: inherit;
          border-radius: inherit;
        }
        &::before {
          top: 5%;
          transform: rotate(-50deg);
        }
      }
    }
    
    &__greet {
        grid-column: 3 / 8;
        grid-row: 4 / 9;
        z-index: 2100;
        
    }

    &__bubble{
      position: absolute;
      grid-column: 4/9;
      grid-row: 9/ 13;
      z-index: 2100;
      
      h2 {
       color: $base-white; 
       animation: morph 20s linear infinite;
      
       }
    }
    &__goo {
        z-index: 1800;
        position: relative;
        grid-column: 1/ -1;
        grid-row: 1/ -1;
        height: 100%;
        width: 100%;
        background-color: $base-white;
        filter: blur(20px) contrast(70);
        display: grid;
        @include base-template;
        &--1,
        &--2,
        &--3,
        &--4,
        &--5,
        &--6{
          background-color: $red-light;       
            position: absolute;
            border-radius: 62% 38% 65% 35% / 50% 49% 51% 50% ;
            transition: all linear;
        }
        &--1 {
          grid-column: 3/9;
          grid-row: 7/14;
            width: 60rem;
            height: 50rem;
            border-radius: 62% 38% 65% 35% / 50% 49% 51% 50% ;
            //background-color: $red-light;       
            //position: absolute;
            transform: translateX(0) translateY(0) rotate(0) scale(.1);
            transition: all linear;
            animation: 2s blowing .5s ease-in-out forwards, 5s blobbing 1s linear infinite;
        }
        &--2{
          //position: absolute;
          grid-column: 10/ 14;
          grid-row: 2/ 6;
          //background-color: $red-light;
          width: 40rem;
          height: 40rem;
          border-radius: 62% 38% 65% 35% / 50% 49% 51% 50% ;
          transform: translateX(0) translateY(0) scale(1) rotate(0);
          opacity: 0;
          //transition: all linear;
          animation: 4s blobbing 1.6s linear infinite, 3s birth 2s ease-in-out forwards;
              
        }
        &--3 {
          grid-column: 12/ 15;
          grid-row: 10 / 13;
          transform: translateX(-250%) translateY(60%) scale(.3) rotate(0);
          opacity: 0;
          width: 25rem;
          height: 25rem;
          animation: 6s blobbing 1.6s linear infinite, 3s birth2 6s ease-in-out forwards;
        }
        &--4{
          width: 15rem;
          height: 15rem;
          top: 100%;
          right: 10%;
          transform: scale(1);
          animation: 25s floating 10s linear infinite;
        }
        &--5{
          width: 22rem;
          height: 22rem;
          transform: scale(1);
          top: 100%;
          left: 20%;
          animation: 21s floating2 14s linear infinite;
        }

        &--6{
          width: 10rem;
          height: 10rem;
          top: 100%;
          left: 10%;
          animation: 23s floating3 18s linear infinite;
        }
    }
    
}

