.about {
    position: relative;
    z-index: 2000;
    
    grid-row: 3/ 14;
    grid-column: 2/-1;
    width: 100%;
    height: 100%;
    display: grid;
    @include base-template;
    @include   centering;
  
    @media #{$mob-xxs-port} {
      @include aboutgrid-p;
    }
    
    @media #{$mob-xxs-land} {
      gap: .5rem;
    }
    @media #{$mob-xs-port} {
      @include aboutgrid-p;
    }
    @media #{$mob-port} {
      @include aboutgrid-p;
      grid-template-columns: 1fr 5% repeat(11, 5.964%) 5% 1fr;
    }
    @media #{$med-screen-port}{
      @include aboutgrid-p;
      grid-template-columns: 1fr 5% repeat(11, 5.964%) 5% 1fr;
    }
    @media #{$lag-screen-port}{
      @include aboutgrid-p;
      grid-template-columns: 1fr 5% repeat(11, 5.964%) 5% 1fr;
    }
    

    &__menu{
      grid-column: 1 / 3;
      grid-row: 8 / 10;

      color: $base-black;
      height: 8rem;
      width: 8rem;
      z-index: 2100;
      text-align: center;
      transform: translateX(-4rem);
      font-size: 2rem;
      font-weight: 400;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      @include centering;
      position: relative;
      z-index: 2800;
      cursor: pointer;
      @media #{$mob-xxs-port}{
        @include zero;
      }
      @media #{$mob-xxs-land} {
        @include zero;
      }
      @media #{$mob-xs-port}{
        @include zero;
      }
      @media #{$mob-xs-land} {
        transform: scale(.8);
      }
      @media #{$mob-port}{
        @include zero;
      }
      @media #{$med-screen-port}{
        @include zero;
      }
      @media #{$lag-screen-port}{
        @include zero;
      }
      @media #{$desktop-xl} {
        height: 10rem;
        width: 10rem;
        font-size: 3.5rem;  
        gap: 1.2rem; 
      }
      @media #{$desktop-xxl} {
        height: 12rem;
        width: 12rem;
        font-size: 4.5rem;  
        gap: 1.2rem; 
      }


      &--top{
        grid-column: 1/2;
        grid-row: 1/2;
        
        &::after{
          content: "";
          display: block;
          height: .5rem;
          width:4rem;
          margin: 0 auto;
          //@at-rootbackground-color: $base-black;
          background-color: $base-black;
          border-radius: 1rem;
          text-align: center;
          @media #{$desktop-xl} {
            margin-top: 1rem;
            width: 8rem;

          }
        }
      }

      &--bottom{
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &--icon {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 4rem;
        width: 4rem;
        transition: all linear;
        transform: translate(-40%, -15%) rotate(75deg) scaleY(.9);
        animation: speaker 2s ease-in .5s 1 forwards;
        @media #{$desktop-xl} {
          height: 8rem;
          width: 8rem;
        }
  
        
      }
     
      &--lines {
        position: absolute;
        
        height: 3px;
        width: 2rem;
        background-color: $base-black;
        top: 10%;
        right: -30%;
        transform: rotate(-18deg) translateX(-100%);
        border-radius: 5rem;
        transition: all linear;
        opacity: 0;
        animation: shouting .5s ease-in .5s 2 forwards;
        @media #{$desktop-xl} {
          width: 4rem;
          top: 29%;
          transform: rotate(-18deg) translateX(0);
        }
  
        &::before,
        &::after {
          content: "";
          display: block;
          background-color: inherit;
          width: inherit;
          height: inherit;
          border-radius: inherit;
        }
        &::before {
          
          transform: translateY(-350%) rotate(-28deg);
          @media #{$desktop-xl} {
            transform: translateY(-700%) rotate(-28deg);
          }
        }

        &::after {
          
          transform: translateY(300%) rotate(28deg);
          @media #{$desktop-xl} {
            transform: translateY(700%) rotate(28deg);
          }
          
        }
      }
      &:hover &--icon {
        animation: speaker 2s ease-in .2s;
      }
      &:hover &--lines {
        animation: shouting .5s ease-in .2s;
      }
    }
    
    &__greet {
        grid-column: 3 / 9;
        grid-row: 4 / 9;
        z-index: 2100;
        width: 38rem;
        @media #{$mob-xxs-port} {
          @include greetgrid-p;
        }
        @media #{$mob-xxs-land}{
          width: auto;
          justify-self: start;
          grid-column: 3 / 12;
          grid-row: 5 / 9;
        }
        @media #{$mob-xs-port} {
          @include greetgrid-p;
        }
        @media #{$mob-xs-land} {
          grid-column: 4 / 12;
          justify-self: start;
        }
        @media #{$mob-port} {
          @include greetgrid-p;
        }
        @media #{$med-screen-port}{
          @include greetgrid-p;
        }
        @media #{$lag-screen-port}{
          @include greetgrid-p;
        }
        @media #{$ipadpro-land}{
          grid-column: 4 / 10;
          width: 100%;
          
        }
        @media #{$desktop-l} {
          grid-column: 4 / 9;
          grid-row: 6 / 8;
          width: 100%;
        }
        @media #{$desktop-xl} {
          grid-row: 5 / 9;
        }
        @media #{$desktop-xxl} {
          grid-row: 4 / 9;
        }
        
        h1{
          // width: 0;
          overflow: hidden;
          margin: 1rem auto;
          width:0;
          height:8rem;
          white-space: nowrap;
          letter-spacing: 1.2rem;
          margin-bottom: 2rem;
          color: $base-black;

          @media #{$mob-xxs-port} {
            font-size: 5.8rem;
            margin-bottom: 0;
            height: 7rem;
            letter-spacing: 1rem;
          }
          @media #{$mob-xxs-land} {
            font-size: 5.5rem;
            height: 6rem;
            margin-bottom: 0;
          }
          @media #{$mob-xs-port} {
            font-size: 7.5rem;
            margin-bottom: 0;
            height: 7rem;
            letter-spacing: 1rem;
          }
          @media #{$mob-port} {
            font-size: 12rem;
            margin-bottom: 0;
            height: 13rem;
            letter-spacing: 1.5rem
          }
          @media #{$med-screen-port}{
            font-size: 13rem;
            margin-bottom: 0;
            height: 13.5rem;
            letter-spacing: 1.7rem;
          }
          @media #{$lag-screen-port}{
            font-size: 15.5rem;
            margin-bottom: 0;
            height: 16rem;
            letter-spacing: 1.7rem;
          }
          @media #{$ipadpro-land}{
            font-size: 12rem;
            height: 12rem;
            letter-spacing: 1.7rem;
          }
          @media #{$desktop-l}{
            padding-top: 2rem;
            height: 100%;
            font-size: 10rem;
          }
          @media #{$desktop-xl}{
            font-size: 14rem;
          }
          @media #{$desktop-xxl}{
            font-size: 17rem;
          }

        }
        & :nth-child(1){
          border-right: 5px $base-black solid;
          animation: .8s typing steps(10, start) 2s forwards, 
                      .5s blinking  step-end alternate infinite, 
                      .2s blinking-end 4.2s linear forwards;
        
        }
        & :nth-child(2){
          border-right: 5px transparent solid;
          //animation: 1.5s typing 3.5s steps(20, start) forwards, .5s blinking-below 3.2s step-end alternate infinite, .2s blinking-end 7s linear forwards;
          animation: 1.5s typing 4.5s steps(20, start) forwards, .5s blinking-below 4.2s step-end alternate infinite, .2s blinking-end 8s linear forwards;  
        }
    }

    &__sub{
      position: absolute;
      grid-column: 4/9;
      grid-row: 9/ 13;
      z-index: 2100;
      @media #{$mob-xxs-port}{
        @include subgrid-p;
      }
      @media #{$mob-xxs-land}{ 
        grid-column: 3 / 12;
        justify-self: start;
      }
      @media #{$mob-xs-port} {
        @include subgrid-p;
      }
      @media #{$mob-xs-land}{ 
        grid-column: 4 / 12;
      }
      @media #{$mob-port} {
        @include subgrid-p;
      }
      @media #{$med-screen-port}{
        @include subgrid-p;
      }
      @media #{$lag-screen-port}{
        @include subgrid-p;
      }
      @media #{$ipadpro-land}{
        grid-row: 8/ 13;
      }
      @media #{$desktop-xl}{
        grid-row: 8/ 14;
        justify-self: start;
      }
      h2 {
       color: $base-white; 
       @media #{$mob-xxs-port}{
        font-size: 3.4rem;
      }
      @media #{$mob-xxs-land}{
        font-size: 2.5rem;
      }
      @media #{$mob-xs-port}{
        font-size: 4.2rem;
      }
      @media #{$mob-xs-land}{
        font-size: 2.8rem;
      }
      @media #{$mob-port}{
        font-size: 6.5rem;
      }
      @media #{$med-screen-port}{
        font-size: 7.5rem;
      }
      @media #{$lag-screen-port}{
        font-size: 8.8rem;
        letter-spacing: 1.3rem;
      }
      @media #{$ipadpro-land}{
        font-size: 6rem;
      }
       @media #{$desktop-xl}{
        font-size: 7rem;
        }
        @media #{$desktop-xxl}{
          font-size: 8.5rem;
          line-height: 10rem;;
        }
       }
      }

      &__me {
        
        grid-column: 9/ 16;
        grid-row: 3/ 11;
        height: 100%;
        width: 100%;
        color: $base-white;
        display: grid;
        // grid-template-columns: repeat(8, minmax(5.5rem, auto));
        // grid-template-rows: repeat(8, minmax(4.43rem, auto));
        grid-template-columns: 1fr repeat(7, 10.7%);
        grid-template-rows: 1fr repeat(7, 10%);
        gap: 1rem;
        position: relative;
        align-content: center;

        &--content {
          position: absolute;
          color: $base-white;
          grid-column: 1/ 9;
          grid-row: 1/ 9;
          display: grid;
          @media #{$mob-xxs-port}{
            visibility: hidden;
          }
          @media #{$mob-xxs-land}{
            visibility: hidden;
          }
          @media #{$mob-xs-port}{
            visibility: hidden;
          }
          // @media #{$mob-xs-land}{
          //   visibility: visible;
          // }
          @media #{$mob-port}{
            visibility: hidden;
          }
          @media #{$med-screen-port}{
            visibility: hidden;
          }
          @media #{$lag-screen-port}{
            visibility: hidden;
          }
          @media #{$desktop-xl}{
            grid-row: 1/ 8;
          }
          // grid-template-columns: repeat(8, 5vw);
          // grid-template-rows: repeat(7, 7.7vh);
          height: 95%;

          width: 100%;

          //grid-template-columns: repeat(6, 5vw);
          grid-template-columns: repeat(6, 12.535%);
          //grid-template-rows: 1fr repeat(5, 8vh) 1fr;
          grid-template-rows: 1fr repeat(5, 10.652%) 1fr;
          column-gap: 2rem;
          row-gap: 1.5rem;
          @include centering;
          // justify-content: center;
          align-content: center;
          z-index: 2200;

          perspective: 2000px;
          border-radius:64% 36% 62% 38% / 61% 48% 52% 39% ;
          transition: all linear;
          // overflow: hidden;
          animation: blobbing 15s linear infinite;
          @media #{$ipadpro-land}{
            column-gap: 3rem;
          }
          @media #{$desktop-xl}{
            column-gap: 3.5rem;
          }
          @media #{$desktop-xxl}{
            column-gap: 4rem;
          }
 
          h1{
            grid-column: 2/ 3;
            grid-row: 3/6;
            font-family: $font-body;
            color: $base-white;
            font-size: 28rem;
            font-weight: 900;
            transform-style: preserve-3d;
            width: 3rem;
            height: 100%;      
            text-align: right;
            margin: 0;
            opacity: 0;
            //transform: translateX(-2rem) rotate3d(0, 0, 0, 0);
            transition: all linear;
            transform-origin: left;
            background-color: transparent;
            //animation: 8s coloring  ease-in forwards, 3s totheRight 8.5s ease-in-out forwards;
            z-index: 2500;
            align-items: center;
            @media #{$ipadpro-land}{
              font-size:30rem;
            }
            @media #{$desktop-xl}{
              grid-row: 3/ 6;
              font-size:30rem;
            }
            @media #{$desktop-xxl}{
              grid-row: 3/7;
              font-size:38.5rem;
            }
           
          }


          h2 {
            color: $base-white;
            transform: translate3d(0, 0, 0);
            margin: 0;
            font-weight: 700;
            justify-self: start;
            opacity: 0;
            transition: all linear .3s;
            //animation: 2s fade-in linear forwards, .1s fade-out 10.45s linear forwards;
            z-index: 2300;
            @media #{$desktop-xl}{
              font-size: 6rem;
            }
            @media #{$desktop-xxl}{
              font-size: 7.2rem;
            }
            
          }
        }
        &--1{
         h1 {
            justify-self: end;
            align-self: end;
            transform: translateX(-2rem) rotate3d(0, 0, 0, 0);
            opacity:0;
            //animation: 2s fade-in linear forwards, .2s coloring 8.5s ease-in forwards, 2.5s totheRight 9.5s ease-in forwards;
            animation: 2s fade-in 1s linear forwards, .2s coloring 9.5s ease-in forwards, 2.5s totheRight 10.5s ease-in forwards;
          }
          h2 {  
            //animation: 2s fade-in linear forwards, .1s fade-out 11.6s linear forwards;
            animation: 2s fade-in 1s linear forwards, .1s fade-out 12.6s linear forwards;
            @media #{$desktop-xl}{
              padding-left: 5rem;
              animation: 2s fade-in 1s linear forwards, .1s fade-out 12s linear forwards;
            }
          }
          & :nth-child(2){
            grid-column: 3/ 8;
            grid-row: 3/ 4;
          }

          & :nth-child(3){
            grid-column: 3/ 8;
            grid-row: 4/ 5;
          }

          & :nth-child(4){
            grid-column: 3/ 8;
            grid-row: 5/ 6;
          }
        }   
        &--2{
          opacity: 0;
          //animation:.2s appear 11.87s linear forwards;
          animation:.2s appear 12.87s linear forwards;
      
          h1 {
            grid-column: 4/6;
            justify-self: end;
            align-self: center;
            width: 100%;
            transform-origin: 0% 0%;
            //transform: translateX(0) rotate3d(0, -1, 0, -92deg) scale(1);
            transform: translateX(5rem) translateY(0) rotateY(85deg) scale(1);
            //animation: 1.5s totheLeft 11.87s ease-in-out forwards, 2s turning 16s ease-in forwards;
            animation: 1.5s totheLeft 12.87s ease-in-out forwards, 2s turning 17s ease-in forwards;
          }
          h2{
            //width:30rem;
            margin-left: 200%;
            
            opacity:0;
           
            overflow: hidden;
            transition: all linear .2s;
            //animation: 1.5s slidingRight 12s ease-in-out forwards, .5s slideDown 17.5s ease-in forwards;
            animation: 1.5s slidingRight 13s ease-in-out forwards, .5s slideDown 18.5s ease-in forwards;
            // animation: 10s slidingLeft 13s ease-in-out forwards;    
          }
          & :nth-child(2){
            grid-column: 4/ 7;
            grid-row: 3/ 4;
            opacity:0;
          }
          & :nth-child(3){
            grid-column: 3/ 7;
            grid-row: 4/ 5;
            opacity:0;
          }
          & :nth-child(4){
            grid-column: 4/ 7;
            grid-row: 5/ 6;
            opacity:0;
          }
        }
        &--3{
          opacity:0;
          //animation:.2s appear 17.5s linear forwards;
          animation:.2s appear 18.5s linear forwards;
          h1 {
            color: $base-black;
            opacity:0;
            width: 100%;
            transform-origin: 50% 50%;
            text-align: left;
            transform: translateX(-5rem) translateY(0) rotate(0);
            animation:.5s turningIn 18.5s ease-out forwards, 
                      1s zoomOut 21s cubic-bezier(.86, -0.57, .45, .77)  forwards;
         
            // animation:.5s turningIn 17.5s ease-out forwards, 
            //           1s zoomOut 20s cubic-bezier(.86, -0.57, .45, .77)  forwards;
         
            }
          h2{
            opacity:0;
            justify-self: center;
            text-align: center;
            transform: rotate(20deg);
            @media #{$desktop-xxl}{
              transform: translateX(-25%) rotate(20deg) ;
            }
            z-index: 2700;
            text-transform: uppercase;
            
          }
          & :nth-child(2){
            opacity:0;
            grid-row: 4/5;
            grid-column: 2/3;
            justify-self: end;
            transform: translateY(17%) rotate(20deg);
            animation: .05s appear 19.5s linear forwards,
                        1s zoomOut 22s cubic-bezier(.86, -0.57, .45, .77)  forwards;
                        @media #{$desktop-xxl}{
                          transform: translateX(-10%) rotate(20deg) ;
                        }


          }
          & :nth-child(3){
            opacity:0;
            grid-column: 3 /4;
            grid-row: 4/5;
            font-size: 7rem;
            animation: .05s appear 19.55s linear forwards, 
                        1s zoomOut 22s cubic-bezier(.86, -0.57, .45, .77)  forwards;
                        // animation: .05s appear 18.55s linear forwards, 
                        // 1s zoomOut 21s cubic-bezier(.86, -0.57, .45, .77)  forwards;
                        
            }
          & :nth-child(4){
            opacity:0;
            grid-column: 4 /5;
            grid-row: 4/5;
            font-size: 9rem;
            animation: .05s appear 19.6s linear forwards,
                        1s zoomOut 22s cubic-bezier(.86, -0.57, .45, .77)  forwards;

          }
          & :nth-child(5){
            opacity:0;
            grid-column: 5 /6;
            grid-row: 4/5;
            font-size: 11rem;
            animation: .05s appear 19.65s linear forwards,
                        1s zoomOut 22s cubic-bezier(.86, -0.57, .45, .77)  forwards;

          }
          & :nth-child(6){
            opacity:0;
            grid-column: 6 /8;
            grid-row: 4/5;
            font-size: 19rem;
            transform: translateX(-10%) rotate(20deg);
            animation: .05s appear 19.7s linear forwards,
                        1s zoomOut 22s cubic-bezier(.86, -0.57, .45, .77)  forwards;

          }
        }
      }
    &__goo {
        z-index: 1800;
        position: relative;
        grid-column: 1/ -1;
        grid-row: 1/ -1;
        height: 100%;
        width: 100%;
        background-color: $base-white;
        filter: blur(20px) contrast(70);
        display: grid;
        @include base-template;
        

        & > * {
          background-color: $red-light;
          //background-color: $blue;    
          position: absolute;
          border-radius: 62% 38% 65% 35% / 50% 49% 51% 50% ;
          transition: all linear;
          
        }
        &--1 {
          //grid-column: 3/9;
          grid-column: 2/8;
          grid-row: 7/14;
            // width: 58rem;
            // height: 50rem;
            width: 42.459vw;
            height: 76.3vh;
            @media #{$mob-xxs-port}{
              grid-column: 1/-1;
              grid-row: 6/14;
              width: 100vw;
              height: 100%;
            }
            @media #{$mob-xxs-land}{
              grid-column: 1/12;
              grid-row: 6/14;
            }
            @media #{$mob-xs-port}{
              @include gooPort;
            }
            @media #{$mob-xs-land}{
              grid-column: 3/12;
              grid-row: 6/13;
              width: 43vw;
            }
            @media #{$mob-port}{
              @include gooPort;
            }
            @media #{$med-screen-port}{
              @include gooPort;
            }
            @media #{$lag-screen-port}{
              @include gooPort;
            }
            @media #{$ipadpro-land}{
              width: 45vw;
              height: 60vh;
            }
            @media #{$desktop-xl}{
              width: 40vw;
              height: 67vh;
            }
            @media #{$desktop-xxl}{
              width: 41vw;
              height: 64vh;
            }
            border-radius: 62% 38% 65% 35% / 50% 49% 51% 50% ;
            //background-color: $red-light;       
            //position: absolute;
            transform: translateX(0) translateY(0) rotate(0) scale(.05);
            transition: all linear;
            //animation: 2s blowing .5s ease-in-out forwards, 5s blobbing 1s linear infinite;
            animation: 2s blowing 1.5s ease-in-out forwards, 5s blobbing 2s linear infinite;
        }
        &--2{
          //position: absolute;
          grid-column: 9/ -1;
          grid-row: 3/ 10;
          //background-color: $red-light;
          // width: 55rem;
          // height: 45rem;
          width: 40.26vw;
          height: 68.807vh;
          @media #{$mob-xxs-port}{
            grid-column: 8/ -1;
            grid-row: 3/ 9;
          }
          @media #{$mob-xs-port}{
            grid-column: 8/ -1;
            grid-row: 3/ 6;
            width: 50vw;
            height: 50vh;
          }
          // @media #{$mob-xxs-land}{
          //   grid-column: 8/ -1;
          // }
          @media #{$desktop-xl}{
            grid-row: 3/ 8;
            width: 37vw;
            height: 57vh;
          }
          @media #{$mob-port}{
            grid-column: 8/ -1;
            grid-row: 3/ 6;
            width: 55vw;
            height: 40vh;
          }

          @media #{$med-screen-port} {
            grid-column: 8/ -1;
            grid-row: 3/ 6;
            width: 75vw;
            height: 35vh;
          }
          @media #{$lag-screen-port} {
            grid-column: 8/ -1;
            grid-row: 3/ 6;
            width: 75vw;
            height: 35vh;
          }
          @media #{$ipadpro-land}{
            width: 45vw;
            height: 60vh;
          }
          border-radius: 62% 38% 65% 35% / 50% 49% 51% 50% ;
          transform: translateX(0) translateY(0) scale(1) rotate(0);
          opacity: 0;
          //transition: all linear;
          //animation: 4s blobbing 1.6s linear infinite, 3s birth 2s ease-in-out forwards;
          animation: 4s blobbing 2.6s linear infinite, 3s birth 3s ease-in-out forwards;
              
        }
        &--3 {
          grid-column: 12/ 15;
          grid-row: 9 / 13;
          transform: translateX(-250%) translateY(60%) scale(.3) rotate(0);
          opacity: 0;
          width: 30rem;
          height: 30rem;
          @media #{$mob-port}{
            grid-column: 11/ 15;
          }
          @media #{$mob-xs-land}{
            grid-column: 10/ 12;
            grid-row: 10 / 13;
            width: 25rem;
            height: 25rem;
          }
          @media #{$med-screen-port}{
            grid-column: 10/ 15;
            grid-row: 11 / 15;
            width: 55rem;
            height: 55rem;
          }
          @media #{$lag-screen-port}{
            grid-column: 10/ 15;
            grid-row: 11 / 15;
            width: 55rem;
            height: 55rem;
          }
          
          @media #{$desktop-xl}{
            width: 38rem;
            height: 38rem;
          }
          @media #{$desktop-xxl}{
            width: 46rem;
            height: 46rem;
          }
          //@at-rootanimation: 6s blobbing 1.6s linear infinite, 3s birth2 6s ease-in-out forwards;
          animation: 6s blobbing 2.6s linear infinite, 3s birth2 7s ease-in-out forwards;
        }
        &--4{
          width: 21rem;
          height: 21rem;
          @media #{$mob-xs-land}{
            width: 12rem;
            height: 12rem;
          }
          @media #{$lag-screen-port}{
            width: 32rem;
            height: 32rem;
          }
          @media #{$ipadpro-land}{
            width: 23rem;
            height: 23rem;
          }
          @media #{$desktop-xl}{
            width: 25rem;
            height: 25rem;
          }
          @media #{$desktop-xxl}{
            width: 29rem;
            height: 29rem;
          }
          top: 100%;
          right: 10%;
          transform: scale(1);
          //animation: 25s floating 10s linear infinite;
          animation: 25s floating 11s linear infinite;
        }
        &--5{
          width: 18rem;
          height: 18rem;
          @media #{$mob-xs-land}{
            width: 10rem;
            height: 10rem;
          }
          @media #{$lag-screen-port}{
            width: 45rem;
            height: 45rem;
          }
          @media #{$desktop-xl}{
            width: 21rem;
            height: 21rem;
          }
          @media #{$desktop-xxl}{
            width: 24rem;
            height: 24rem;
          }
          transform: scale(1);
          top: 100%;
          left: 20%;
          //animation: 20s floating2 14s linear infinite;
          animation: 20s floating2 15s linear infinite;
        }

        &--6{
          width: 20rem;
          height: 20rem;
          @media #{$mob-xs-land}{
            width: 10rem;
            height: 10rem;
          }
          @media #{$lag-screen-port}{
            width: 38rem;
            height: 38rem;
          }
          @media #{$desktop-xl}{
            width: 24rem;
            height: 24rem;
          }
          @media #{$desktop-xxl}{
            width: 28rem;
            height: 28rem;
          }
          
          top: 100%;
          left: 10%;
          //animation: 23s floating3 18s linear infinite;
          animation: 23s floating3 19s linear infinite;
        }
    }
    
}

