.projects{
    grid-row: 1 / -1;
    grid-column:  1/-1;
    display: grid;
    @include base-template;
    // coloum reduced by 1 and with changed by .25
    grid-template-columns: minmax(2rem, 5rem) 2rem repeat(11, minmax(6.5rem, 1fr)) 2rem minmax(2rem, 5rem);
    gap: 2.5rem;
    position: relative;
   
    &__sml{
        grid-row: 6/9;
        grid-column: 9/16;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2700;
        display: grid;
        opacity:0;
        grid-template-columns: repeat(7, minmax(8.22rem, auto));
        grid-template-rows: repeat(3, minmax(7.46rem, auto));
        @include centering;
        @include centerContent;
     
        transform-origin: center;
        transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        animation: .2s appear 23s ease-in forwards;
    }
    
    // @include hoverEffect2;
    &__checkbox{
        display: none;
    }
    &__menubox{
        grid-column: 3 / 6;
        // justify-self: start;
        grid-row: 1/-1;
        height: 10rem;
        width: 10rem;
        // transform-origin: center;
        //transform: translateX(6%);
        display: grid;
        @include centering;
        @include centerContent;
    } 
    &__menu{
        height: 9.5rem;
        width: 9.5rem;
        font-size: 2.6rem;
        
        background-color: transparent;
        //border-radius: 50%;
        //color: $base-white;
        transform-origin: 50% 50%;
        transition: all .2s ease;
        //animation: .3s appear 23.5s ease-in forwards, .3s blackBackground 23.5s ease-in forwards;
        //animation: .3s appear 23.5s ease-in forwards;
        z-index: 3500;
        //z-index: 250;
        
        &--card {
            grid-row: 1/-1;
            grid-column: 1/-1;
            transition: .3s all linear;
            z-index: 3600;
            @include centerContent;
            background-color: transparent;
            height: 9.5rem;
            width: 9.5rem;
            font-size: 2.6rem;
            transition: all .2s;
            animation: 3s blackBackground 23.5s linear forwards;

        }
        &--back {
            width: 7.5rem;
            height: 7.5rem;

        }
        &:hover > &--back {
       
                border: 6px $blue-mid-light solid;
 
        }
        &--top,
        &--bottom {
                position: absolute;
                z-index: 3700;
                color: inherit;
                transition: .2s all  linear backwards;
                transform: rotate3d(1, 0, 0, 90deg);
                color: $base-white;
                animation: .3s insideEye 23.5s ease-in forwards;
                
        }
        &--top{
                align-self: end;

        }
        &--bottom{
                align-self: start;
        }
        &--icon {
            fill: $base-white;
        }
        &:hover{
            border: 5px  $base-white solid;
            animation-fill-mode: backwards;
            //transform: translate(-1%, -5%);
        }
        // &:hover > &--back {
        //     background: $red-cube;
        // }
        &:hover  &--icon {
            fill:$blue-mid-light;
            transform: translateX(0);
            
        }
            
    }
    &__icon{
        position: absolute;
        grid-row: 1/-1;
        grid-column: 1/-1;
        
        fill: $base-black;
        transition: all .2s linear;
        

        &--eye{
            z-index: 2750;
            width: 15.5rem;
            height: 15.5rem;
            transform-origin: center;
            transform: scale(2.5) rotate3d(1, 0, 0, 90deg);
            animation: .3s openingEye 23.5s ease-in forwards;

        }       
    }

    &__background {
        @include background-bubble;
        grid-column: 4 / 5;
        grid-row: 2/3;
        z-index:3300;
        //z-index:250;
       
        background-color: $baige-yellow;
        //background-image: radial-gradient($blue-green, $blue-mid, $blue-deep);
        // background-image: radial-gradient(black, black);
    }

    &:hover &__menu{
        border: 5px  $base-white solid ;
        // height: 10.5rem;
        // width: 10.5rem;
        //font-size: 2.6rem;

      }
      
      //FUNCTIONARITY 

        @include checked;


      &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
  &__checkbox:checked + &__menu {

    height: 6rem;
    width: 6rem;
    
  } 
  &__card {
    position: relative;
        // margin-top: -35px;
    z-index: 4000;
    //   overflow: hidden;
    //   margin-top: -10rem;
    //   height: 20rem;
    //   width: 27rem;
    height: 20rem;
    width: 100%;
    transition: all 0.2s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    
    


      & > * {
        position: absolute;
        margin: 0;
        padding: 0;
        pointer-events: none;
        height: 100%;
        width: 100%;
        border-width: 2px;
        border-style: solid;
      }
      &--front {    
        transform: rotateX(0);
        //background-color: black;
        background-color: $base-white;
        transition: all 0.2s ease;
        transform-origin: 50% 50% -10rem;
        display: grid;
        grid-template-columns: 6rem 1fr 6rem;
        grid-template-rows: 3rem repeat(2, 7rem) 3rem;
        @include centering;
        @include centerContent;
        & svg {
            grid-column: 2/3;
            grid-row: 2/3;
            width: 5rem;
            height: 5rem;
           
            margin: 0;

        }
        & h5 {
            grid-column: 2/3;
            grid-row: 3/4;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-family:$font-display;
            letter-spacing: .2rem;
            
        }

      }
      &--back{
        
        background-color: $base-black;
        transform: rotateX(85deg);
        background-image: linear-gradient($blue-green, $blue-mid, $blue-deep);
        transition: all 0.2s ease;
        transform-origin: 50% 50% -10rem;

      }
    

    &:hover &--back{
        transform: rotateX(0deg);
        
    }
    &:hover &--front{
        transform: rotateX(-90deg);
        
    }
  }

  &__card-1 {
    grid-row: 6/9;
    grid-column: 4/7;
    // background-color: red;
   
    &--front{
        
        border-color: black;

        & svg {
            // fill:black;
            fill: $red-cube;
        }
    }
    }
   &__card-2 {
    grid-row: 6/9;
    grid-column: 7/10;
    
    & svg {
        // fill:black;
        fill:darkcyan;
    }
 
    }
    &__card-3 {
        grid-row: 6/9;
        grid-column: 10/13;
        
        z-index: 1000;
    } 
    &__card-4 {
        grid-row: 9/12;
        grid-column: 4/7;
       
    }       
    &__card-5 {
        grid-row: 9/12;
        grid-column: 7/10;
       
    }
    &__card-6 {
        grid-row: 9/12;
        grid-column: 10/13;
        
    }    
}
.disappear {
   visibility: hidden;

}
.scale1{
    transform: scale(1);
    opacity:1;
}
.showing {
   visibility: visible;
}
.changeGrid{
    
    animation:  .2s movinRight ease-in-out forwards;
    // color: transparent;
   
}
.black {
    background-color: $base-black;
    border-radius: 2.8rem;
    @include checked;
    transform: scale(.4);
}

.zoon-out{
    animation: .2s zoomingOut .2s linear forwards;
}
.zoom-in{
    animation: .1s zoomingIn .2s linear forwards;
    // transform: scale(.4);
}

@keyframes movinRight {
    100%{
        grid-row: 3/4;
        grid-column: 7/8;
    }
}
