.projects{
    grid-row: 1 / -1;
    grid-column:  1/-1;
    display: grid;
    @include base-template;
    position: relative;
   
    &__sml{
        grid-row: 6/9;
        grid-column: 9/16;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2700;
        display: grid;
        opacity:0;
        grid-template-columns: repeat(7, minmax(8.22rem, auto));
        grid-template-rows: repeat(3, minmax(7.46rem, auto));
        @include centering;
        align-content: center;
        justify-content: center;
        
        transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        animation: .2s appear 23s ease-in forwards;
    }
    
    // @include hoverEffect2;
    &__checkbox{
        display: none;
    }
    &__menubox{
        grid-column: 4 / 5;
        grid-row: 2/3;
        height: 10rem;
        width: 10rem;
        transform-origin: center;
        //transform: translateX(6%);
    } 
    &__menu{
        
        // grid-column: 4 / 5;
        // grid-row: 2/3;
        //cursor: pointer;
        //opacity:0;
        //@include menubox;
        height: 9.5rem;
        width: 9.5rem;
        font-size: 2.6rem;
        
        background-color: transparent;
        //border-radius: 50%;
        //color: $base-white;
        transform-origin: 50% 50%;
        transition: all .2s ease;
        //animation: .3s appear 23.5s ease-in forwards, .3s blackBackground 23.5s ease-in forwards;
        //animation: .3s appear 23.5s ease-in forwards;
        z-index: 3500;
        //z-index: 250;
        &--card {
            transition: .3s all linear;
            z-index: 3600;
            @include centerContent;
            background-color: transparent;
            height: 9.5rem;
            width: 9.5rem;
            font-size: 2.6rem;
            animation: 3s blackBackground 23.5s linear forwards;
        }
        &--top,
        &--bottom {
                position: absolute;
                z-index: 3700;
                color: inherit;
                transition: .2s all  linear backwards;
                transform: rotate3d(1, 0, 0, 90deg);
                color: $base-white;
                animation: .3s insideEye 23.5s ease-in forwards;
                
        }
        &--top{
                align-self: end;
            //     &::after{
            //         background-color: $red-cube;
            // }
        }
        &--bottom{
                align-self: start;
        }
        &--icon {
            fill: pink;
        }
        &:hover{
            border: 5px  $base-white solid ;
            // height: 10.5rem;
            // width: 10.5rem;
            
            transform: translate(-1%, -5%);
          }
          &:hover > &--card {
            font-size: 2.5rem;
          }
            
    }
    &__icon{
        position: absolute;
        grid-row: 1/-1;
        grid-column: 1/-1;
        
        fill: $base-black;
        transition: all .2s linear;
        

        &--eye{
            z-index: 2750;
            width: 15rem;
            height: 15rem;
            transform-origin: center;
            transform: scale(2.5) rotate3d(1, 0, 0, 90deg);
            animation: .3s openingEye 23.5s ease-in forwards;

        }       
    }

    &__background {
        @include background-bubble;
        z-index:3000;
        //z-index:250;
        opacity:0;
       // background-color: $orange;
        //background-image: radial-gradient($orange-light, $orange-red, $red-cube);
        background-image: radial-gradient(black, black);
    }

    &:hover &__menu{
        border: 5px  $base-white solid ;
        // height: 10.5rem;
        // width: 10.5rem;
        font-size: 2.6rem;

      }
      
      //FUNCTIONARITY 

        @include checked;
    //     &__checkbox:checked  &__menubox {
        
    //     grid-column: 7 / 8;
    //     grid-row: 3/4;
    //     height: 6rem;
    //     width: 6rem;
        
    //   }

      &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
  &__checkbox:checked + &__menu {

    height: 6rem;
    width: 6rem;
    
  } 


}
.disappear {
    z-index: 50;
}